@model SoccerDiv.Models.Coach

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Coach</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Coach_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Coach_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Coach_Age)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Coach_Age)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Coach_Nationality)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Coach_Nationality)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Coach_Image)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Coach_Image)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sport.Sports_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sport.Sports_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Team.Team_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Team.Team_Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Coach_ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
