@model SoccerDiv.Models.Player

@{
    ViewBag.Title = "Delete";
}

<link href="~/Content/adminbutton.css" rel="stylesheet" />

<div class="containerX">
    <a class="card1" href="@Url.Action("AdminView", "Admins")">
        <h3>Back To Home</h3>
        <div class="go-corner">
            <div class="go-arrow">
                →
            </div>
        </div>
    </a>
    <a class="card1" href="@Url.Action("PlayerList", "Players")">
        <h3>See All players</h3>
        <div class="go-corner">
            <div class="go-arrow">
                →
            </div>
        </div>
    </a>
</div>

<div>
    <h4>Player</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Player_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Player_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Player_Age)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Player_Age)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Player_Nationality)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Player_Nationality)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Player_Position)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Player_Position)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Player_Rating)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Player_Rating)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Player_Ranking)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Player_Ranking)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Player_Image)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Player_Image)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sport.Sports_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sport.Sports_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Team.Team_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Team.Team_Name)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
