@model SoccerDiv.Models.Team

@{
    ViewBag.Title = "Delete";
}

<link href="~/Content/adminbutton.css" rel="stylesheet" />

<div class="containerX">
    <a class="card1" href="@Url.Action("AdminView", "Admins")">
        <h3>Back To Home</h3>
        <div class="go-corner">
            <div class="go-arrow">
                →
            </div>
        </div>
    </a>
    <a class="card1" href="@Url.Action("TeamView", "Teams")">
        <h3>Show All Teams</h3>
        <div class="go-corner">
            <div class="go-arrow">
                →
            </div>
        </div>
    </a>
</div>
<div>
    <h4>Team</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Team_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Team_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Team_Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Team_Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Team_Rating)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Team_Rating)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Team_Ranking)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Team_Ranking)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Team_Logo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Team_Logo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Team_Country)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Team_Country)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sport.Sports_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sport.Sports_Name)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" />
        </div>
    }
</div>
