@model SoccerDiv.Models.Tournamnet

@{
    ViewBag.Title = "AddTournament";
    var success = ViewBag.Success;
    var failed = ViewBag.Failed;
}

<link href="~/Content/tournament.css" rel="stylesheet" />
<link href="~/Content/adminbutton.css" rel="stylesheet" />

<div class="containerX">
    <a class="card1" href="@Url.Action("AdminView", "Admins")">
        <h3>Back To Home</h3>
        <div class="go-corner">
            <div class="go-arrow">
                →
            </div>
        </div>
    </a>
    <a class="card1" href="@Url.Action("Tournament", "Tournamnets")">
        <h3>All Tournaments</h3>
        <div class="go-corner">
            <div class="go-arrow">
                →
            </div>
        </div>
    </a>
</div>




@using (Html.BeginForm("AddTournament", "Tournamnets", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()


    <div class="signup__container">

        <div class="container__child signup__form">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                <label>Sports</label>
                @Html.DropDownList("Sports_ID", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Sports_ID, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                <label>Tournament Name</label>
                @Html.EditorFor(model => model.Tournament_Name, new { htmlAttributes = new { @class = "form-control", @placeholder = "Name" } })
                @Html.ValidationMessageFor(model => model.Tournament_Name, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                <label>Description</label>
                @Html.EditorFor(model => model.Tournament_Description, new { htmlAttributes = new { @class = "form-control", @placeholder = "Description" } })
                @Html.ValidationMessageFor(model => model.Tournament_Description, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                <label>Logo</label>
                <input type="file" name="TournamentImageFile" required />
            </div>
            <div class="m-t-lg">
                <ul class="list-inline text-center">
                    <li>
                        <input type="submit" value="Add Tournament" class="btn btn--form" />
                    </li>
                    @if (success != null)
                    {
                        <li style="color:#85F12B;">
                            @success
                        </li>
                    }
                    else
                    {
                        <li style="color:#85F12B;">
                            @failed
                        </li>
                    }
                </ul>
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
