@model IEnumerable<SoccerDiv.Models.Tournamnet>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Tournament_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tournament_Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tournament_Logo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sport.Sports_Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Tournament_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tournament_Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tournament_Logo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Sport.Sports_Name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Tournament_ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.Tournament_ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Tournament_ID })
        </td>
    </tr>
}

</table>
